.container{
    /* max-width: 892px !important; */
}

.container h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    background: linear-gradient(267deg, #EA3400 0%, #FF9805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}