/* Announcement.css */
.announcement-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: red;
  padding: 10px 0;
  color: white;
  position: relative;
}

.announcement-message {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}