.weekly-summary-report {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.css-10ukr6t-MuiTableCell-root {
  width: 50%;
}

.css-5c1adp-MuiContainer-root {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 45px !important;
}
