.form-card {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .form-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .form-card h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
  }
  
  .detailed-report-form {
    display: flex;
    flex-direction: column;
  }
  
  .detailed-report-form .form-group {
    margin-bottom: 15px;
  }
  
  .detailed-report-form label {
    margin-bottom: 15px;
    color: #777771;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  
  .detailed-report-form input[type="text"],
  .detailed-report-form input[type="date"],
  .detailed-report-form input[type="time"],
  .detailed-report-form select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.2s ease;
  }
  
  .detailed-report-form input:focus,
  .detailed-report-form select:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  .detailed-report-form input::placeholder {
    color: #aaa;
  }
  .custom-button {
    position: relative;
    padding: 14px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    overflow: hidden;
    transition: all 150ms ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(236deg, #3FCF51 0%, #287A20 78%);
    z-index: 0;
    transition: all 150ms ease-in-out;; /* Set to 2 seconds */
    border-radius: 8px;
  }
  
  .custom-button:hover::before {
    background-color: transparent;
    background-image: linear-gradient(267deg, #EA3400 0%, #FF9805 100%);
  }
  
  .custom-button:hover {
    color: white; /* Keep the text color */
  }
  
  .custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(63, 207, 81, 0.5); /* You can adjust this to match the timing */
  }
  
  .custom-button span {
    position: relative;
    z-index: 1;
  }